.navbar-container{
    position: fixed;
    display: flex;
    z-index: 999;
    height: 10vh;
    width: 100%;
    color: aliceblue;
    background: gray;
    transition: background-color 1s ;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: background-color;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.navbar-container-md{
    display: flex;
    height: 10vh;
    width: 75%;
    align-items: center;
    justify-content: space-between;
}

.navbar-text{
    text-decoration: none;
}

.navbar-title{
    color: aliceblue;
    font-size: 1.5rem;
}

.scroll {
    background-color: rgba(51, 51, 51,1);;
    box-shadow: 0 0 25px 5px #000;
}

.navbar-title{
    font-family: Montserrat;
}